
#img{
    

    width: 200px; /*500 px das laterias da pagina*/
    margin: auto; /*Centraliza o conteudo*/
    height: 200px;
}

/*Conteudo nav-bar*/

#buttom_add{
    margin-left: auto;
}

.pag{
    width: 200px; /*500 px das laterias da pagina*/
    margin: auto; /*Centraliza o conteudo*/
    height: 200px;
}



