
#img{
    

    width: 200px; /*500 px das laterias da pagina*/
    margin: auto; /*Centraliza o conteudo*/
    height: 200px;
}

/*Conteudo nav-bar*/

#text_nav{
    color: rgb(18, 231, 18);

}

.search-div{
    
}

