{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Import do CSS (Materialize) -->

  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href=" {% static 'css/materialize.min.css' %} ">

  <!-- IMPORT DO GOOGLE FONTS -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <title>{% block title %}To Do{% endblock %}</title>
</head>

<body>
  <!-- INICIO DA NAVBAR -->
  <section>
    <header>

      {% block header %}
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">ENTRAR</a></li>
        <li class="divider"></li>
        <li><a href="#!">SAIR</a></li>
        <li class="divider"></li>
      </ul>

      <!--MENU LATERAL MOBILE-->
      <ul id="menu-mobile" class="sidenav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="">
            </div>
            <a href="#user"><img class="circle" src="{% static 'img/avatar_femenino.png' %}"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div>
        </li>
        <li><a href="#"><i class="material-icons">description</i>Alterar
            Dados</a></li>
        <li><a href="#"><i class="material-icons">password</i>Alterar Senha</a></li>
        <li><a href="#"><i class="material-icons">lock</i>Esqueci Minha Senha</a></li>
        <li><a href="#"><i class="material-icons">login</i>Entrar</a></li>
        <li><a href="#"><i class="material-icons">logout</i>Sair</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>

      <!-- INICIO DA NAVBAR -->
      <nav class="blue">
        <div class="nav-wrapper container">
          <a href="#!" class="brand-logo">
            <div id="img">
              <img src="{% static 'img/logo2.png' %}" width="60px" alt=""><br>
            </div>
          </a>

          <!-- BOTÃO MENU MOBILE -->
          <a href="#" data-target="menu-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

          <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="material-icons left">home</i><strong>INICIO</strong></a></li>
            <li><a href="#"><i class="material-icons left">phone</i><strong>CONTATO</strong></a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger btn yellow black-text" href="#!" data-target="dropdown1"><i class="material-icons left">face</i> MINHA CONTA<i
                  class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="#"><i class="material-icons">home</i> INICIO</a></li>
        <li><a href="#" class="btn"><i class="material-icons">face arrow_drop_down </i>MINHA CONTA</a></li>
      </ul>
      {% endblock %}
    </header>
  </section>
  <!-- FIM DO BLOCK HEADER -->

  <!-- INICIO DO MAIN -->
  <section>
    <main class="container">
      {% block content %}

      {% endblock %}
    </main>

  </section>

  <!-- INICIO DO FOOTER -->
  <section>
    <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div><a href="#!"><img class="brand-logo z-depth-5" src="{% static 'img/logo2.png' %}" alt="logo"
                  height="50"></a></div>
            <div>
              <p class="lighten-1" style="text-align: justify;"> Projeto feito com o objetivo de gerenciar atividades para fazer em
                um determinado dia, o mesmo tem as principais funções que um sistema WEB pode oferecer para o usuário
                como : login, logout, registrar, criar, visualizar, editar e deletar as tarefas. Para a realização do
                projeto foi utilizado umas das principais tecnologias para o desenvolvimento WEB, como exemplar : HTML5,
                CSS3, JavaScript/ECMAScript, Django e Materialize.</p>
            </div>
          </div>
        </div>
        <div class="divider white"></div>

        <div class="row">
          <div class="col s6">
            <h6 class="white-text"><strong>CONTATOS</strong></h6>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">teste@gmail.com</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">+55 093 xxxxx-xxxx</a></li>
            </ul>
          </div>

          <div class="col s6">
            <h6 class="white-text"><strong>SIGA-NOS NAS REDES SOCIAIS</strong></h6>

            <div class="row">
              <div class="col s4">
                <img src="{% static 'img/facebook_.png' %}" alt="50px" width="50px">
              </div>

              <div class="col s4">
                <img src="{% static 'img/instagram_.png' %}" alt="50px" width="50px">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider white"></div>
      <div class="footer-copyright">
        <div class="container">
          <div class="center">
            © 2021 - Todos os direitos reservados.
          </div>
        </div>
      </div>
    </footer>
  </section>

  </div>

  <!--IMPORTANDO O MATERIALIZE JS-->

  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>