{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  


  <title>{% block title %}{% endblock %}</title>
</head>
<div id="img">
  <img class="imagem " src="{% static 'img/django.png' %}" width="200" alt=""><br>
</div>

<body>

  <div class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" id="text_nav" href="{% url 'lista_tarefas' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" id="text_nav" aria-current="page" href="#">To do</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" id="text_nav" aria-current="page" href="#">Tarefas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" id="text_nav" aria-current="page" href="#">Usuários</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>

    <a href="{% url 'adicionar_tarefa' %}"><button class="btn btn-primary mt-2" id="buttom_add" type="button">Adicionar</button></a>

    {% block content %}
    
    {% endblock %}


    <br>
    <footer>
      {% block footer %}

      {% endblock %}
    </footer>
  </div>

  <!--IMPORTANDO O BOOTSTRAP A PARTIR DE DA CDN-->

  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js.map' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js.map' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/bootstrap.js.map' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js.map' %}"></script>

</body>

</html>