{% extends 'base.html' %}

{% load static %}

{% block title %}
Listas
{% endblock %}


{% block content %}
<div class="container">


  <a class="" href="{% url 'adicionar_tarefa' %}"><button class="btn btn-primary mt-2" id="botao_adicionar"
      type="button">Adicionar</button></a>

  <div class="container col-9 search-div mt-4">
    <div>
      <form action="" method="GET" id="search-form">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite para Pesquisar"
          value="{{ request.GET.search }}">
        <svg onclick='teste()' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-search" id='search-btn' viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </form>
    </div>


    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Escolha uma opção : </option>
        <option value="1">TODAS AS TAREFAS</option>
        <option value="2">PARA HOJE</option>
        <option value="3">CONCLUÍDAS</option>
        <option value="3">PENDENTES</option>
      </select>
      <label>Filtrar por: </label>
    </div>

    {% if messages %}
    <ul class="messages mt-2">
      {% for message in messages %}
      <li {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="hide-on-small-only">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#todas_tarefas">TODAS AS TAREFAS</a></li>
          <li class="tab col s3"><a href="#hoje">PARA HOJE</a></li>
          <li class="tab col s3"><a href="#concluidas">CONCLUIDAS</a></li>
          <li class="tab col s3"><a href="#pendentes">PENDENTES</a></li>

        </ul>
      </div>
      <div id="todas_tarefas" class="col s12">TODAS TAREFAS</div>
      <div id="hoje" class="col s12">PARA HOJE</div>
      <div id="concluidas" class="col s12">CONCLUIDAS</div>
      <div id="pendentes" class="col s12">PENDENTES</div>

    </div>
  </div>

  <div>

    <table class="striped">
      <thead>
        <tr>
          <th>TÍTULO</th>
          <th>OPÇÕES</th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks_list %}
        <tr>

          <td><a href="{% url 'detalhe-tarefa' task.id %}">{{task.title}}</a></td>


          <td>
            <a href="{% url 'editar_tarefa' task.id %}">
              <button class="btn" type="">
                <i class="material-icons">edit</i> Editar
              </button>
            </a>
          </td>

          <td>
            <a href="{% url 'confirmar_delete_tarefa' task.id %}">
              <button class="btn btn-primary" type="">
                <i class="material-icons">delete</i> Deletar
              </button>
            </a>
          </td>

          {% if task.status == 'done' %}
          <td>
            <a href="{% url 'mudar_status' task.id %}">
              <button id="botao_status_done" class="btn btn-primary">
                <i class="material-icons">done_outline</i>
              </button>
            </a>
          </td>

          {% else %}

          <td>
            <a href="{% url 'mudar_status' task.id %}">
              <button class="btn red" id="botao_status_doing">

                <i class="material-icons">remove_done</i>

              </button>
            </a>
          </td>

          {% endif %}
        </tr>
        {% endfor %}


      </tbody>

    </table>
  </div>
  <br>
  <div class="pagination pag mt-2">
    <span class="step-links">
      {% if tasks.has_previous %}
      <a href="?page={{ tasks.previous_page_number }}">Anterior</a>
      {% endif %}

      {% if tasks.paginator.num_pages %}
      <span class="current">
        Pagina {{tasks.number}} de {{ tasks.paginator.num_pages }}
      </span>
      {% endif %}

      {% if tasks.has_next %}
      <a href="?page={{ tasks.next_page_number }}">Proxima</a>

      {% endif %}
    </span>
  </div>


</div>
{% endblock %}

{% block footer %}
Esta é a página footer
{% endblock %}