{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

<body>

    <fieldset>

        <section id="titulo">
            <header>
                <h1>Titulo</h1>
            </header>
        </section>

        <section>
            <nav>
                <ul id="nav_itens">
                    <li><a href="#">Home</a></li>
                    <li><a href="#"">Noticias</a></li>
                    <li><a href=" #">Esportes</a></li>
                </ul>
            </nav>
        </section>

        <section id="noticias">
            Esta é seção de noticias
        </section>

        <section id="esportes">
            Esta é a seção de esportes.
        </section>

        <fieldset>
            <article>
                <h1 id="titulo_article">Titulo do article</h1>
                <p class="paragra_arti">Parágrafo do article.</p>
            </article>
        </fieldset>
<br>
        <fieldset>
            <aside>
                <ul>
                    <li>
                        Mais sobre noticias
                    </li>
                    <li>
                        Mais sobre esportes
                    </li>
                </ul>
            </aside>
        </fieldset>

    </fieldset>

<mark>Olá, mundo</mark><br>
<small>Texto pequeno</small><br>
<del>Texto excluido</del><br>
<h1>Título</h1><br>
<sub>Subtitulo</sub><br>
<sup>sobreescrito</sup><br>
<em>Texto enfatizado</em><br>
<q>Citação curta.</q><br>
<blockquote>Isto é um blockquote.</blockquote><br>
<abbr title="acronimo">Isto é um acronimo</abbr><br>
<address>O endereço é 0083929298737</address><br>
<cite>Define o titulo de um trabalho</cite><br><br>

<caption>Legenda</caption><br>

<textarea name="teste" id="" cols="30" rows="10"></textarea>

</body>

<br>
<fieldset>
    <footer>
        Este é o rodapé.
    </footer>
</fieldset>

</html>